body {
  font-family: "Arial", sans-serif;
  background-color: #f0f0f0;
  color: #333;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 900px;
  margin: 50px auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  position: relative;
  border-radius: 8px;
}

h1,
h2 {
  color: #000000;
  text-align: center;
}

header {
  text-align: center;
  margin-bottom: 40px;
}

h3,
h4 {
  color: #000000;
}

ul,
ol {
  padding-left: 20px;
}

footer {
  text-align: center;
  margin-top: 40px;
  padding: 10px 0;
  border-top: 1px solid #ddd;
}

footer a {
  color: #000000;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

.btn,
.btn-secondary {
  display: inline-block;
  padding: 10px 15px;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
}

.btn {
  background-color: #007bff;
}

.btn-secondary {
  background-color: #007bff;
}

.btn:hover,
.btn-secondary:hover {
  opacity: 0.9;
}

.home-button {
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 10px 15px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 16px;
}

.home-button:hover {
  background-color: #0056b3;
}
